* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root {

    --product-purple-light: #a881e6;
    --product-purple: #7450ac;
    --product-purple-dark: #523480;

    --base-gray-100: #fbf9fe;
    --base-gray-200: #afabb6;
    --base-gray-300: #252529;
    --base-gray-400: #17171a;
    --base-gray-500: #111112;
    --base-gray-600: #0c0c0d;

    --sucess-light: #4e995e;
    --sucess: #2f723d;

    --apoio-pink: #db5bbf;
    --apoio-pink-dark: #251622;
    --apoio-orange: #e07b67;
    --apoio-orange-dark: #261a17;
    --apoio-yellow: #bb9f3a;
    --apoio-yellow-dark: #211e12;
    --apoio-green: #8cad51;
    --apoio-green-dark: #1c2015;
    --apoio-blue: #7b94cb;
    --apoio-dark-blue: #1a1d23;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--base-gray-600);
    color: var(--base-gray-100);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 720px;
}

header.wrapper img {
    width: 100%;
    height: 190px;
    position: absolute;
    top: 0;
    z-index: -1;
}

#form {
    padding-top: 88px;

    h1 {
        font-size: 24px;
        margin-bottom: 2rem;
    }
}

.inputs {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: end;

    label {
        display: flex;
        flex-direction: column;

        span {
            font-size: 12px;
            color: var(--base-gray-200);
            margin-bottom: 0.5rem;
        }

        input,
        select {
            padding: 12px;
            background-color: var(--base-gray-600);
            border: 1px solid var(--base-gray-300);
            color: var(--base-gray-200);
            border-radius: 6px;
            outline: none;
        }

        select {
            background-color: var(--base-gray-500);
        }

        #item {
            width: 326px;

        }


    }

    #select-qnt {
        width: 150px;
        display: flex;

        input {
            width: 50%;
            border-radius: 6px 0px 0px 6px;
        }

        select {
            width: 50%;
            border-radius: 0px 6px 6px 0px;
        }
    }

    #categoria {
        width: 168px;
    }

    .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        background-color: var(--product-purple);
        color: var(--base-gray-100);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-size: 2rem;
        padding: 0.5rem;
        transition: 0.3s;

        &:hover {
            background-color: var(--product-purple-dark);
        }
    }
}


.resultado {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    background-color: var(--base-gray-500);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--base-gray-300);

    .contentCard {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .conclud {
        width: 24px;
        height: 24px;
        border-radius: 0.5rem;
        border: 1px solid var(--product-purple);
        cursor: pointer;
    }

    .titleItem {
        h2 {
            font-size: 14px;
        }

        span {
            font-size: 14px;
            color: var(--base-gray-200);
        }
    }
}

.concluido {

    .conclud {
        width: 24px;
        height: 24px;
        border-radius: 0.5rem;
        border: 1px solid var(--product-purple);
        cursor: pointer;

        background-color: var(--sucess-light);
    }

    .conclud::after {
        content: "✓";
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    .titleItem {
        text-decoration: line-through;

        h2 {
            font-size: 14px;
        }

        span {
            font-size: 14px;
            color: var(--base-gray-200);
        }
    }

}